<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Default Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/reusable.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/icons/tattoo-studio.png}">
    <link rel="stylesheet" th:href="@{/css/burgerCheckbox.css}">
</head>
<body>
    <div class="topBar">
        <label class="burger-menu" for="burger">
            <input id="burger" type="checkbox" hidden>
            <span></span>
        </label>
    </div>
    <nav>
        <ul class="navegationBar">
            <li th:classappend="${httpServletRequest.requestURI == '/' ? 'activeTab' : ''}">
                <a th:href="@{/}">Inicio</a>
            </li>
            <li th:classappend="${(httpServletRequest.requestURI == '/turnos' || httpServletRequest.requestURI == '/turnosoffline') ? 'activeTab' : ''}">
                <a th:href="@{/turnos}">Turnos</a>
            </li>
            <li th:classappend="${httpServletRequest.requestURI == '/publicaciones' ? 'activeTab' : ''}">
                <a th:href="@{/publicaciones}">Publicaciones</a>
            </li>
            <li th:classappend="${httpServletRequest.requestURI == '/sobremi' ? 'activeTab' : ''}">
                <a th:href="@{/sobremi}">Sobre mí</a>
            </li>
        </ul>
    </nav>
    <main layout:fragment="content">

    </main>
</body>
</html>