<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Inicio | Tattoos</title>
    <link rel="stylesheet" th:href="@{/css/publications.css}">
    <link rel="stylesheet" th:href="@{/css/card.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/gallery.css}">
</head>
<body>
    <main layout:fragment="content">

            <div class="darkBackground"></div>
        <h1>Publicaciones</h1>

        <div class="list-wrapper">
            <ul id="-list" class="list">
                <li class="transparent-card">
                    <span class="plus-sign"></span>
                </li>
                <li th:each="image : ${tattoos}">
                    <div th:replace="~{shared :: card(${image})}"></div>
                </li>
            </ul>
        </div>
        
        <form class="uploadForm" th:action="@{/subirpublicacion}" method="post" enctype="multipart/form-data">
            <div class="texts">
                <h2>Publicar nuevo tatuaje</h2>

                <label for="title">Título</label>
                <input name="title" maxlength="255" id="title" type="text">

                <label for="description">Descripción</label>
                <textarea name="description" maxlength="10000" oninput="autoResize(this)" id="description" rows="1"></textarea>

                <label for="dropdown">Categoría</label>
                <div class="dropdown-wrapper">
                    <label id="active-category" class="dropdown-button" for="open-dropdown">Diseño Disponible</label>
                    <input id="open-dropdown" type="checkbox" hidden/>
                    <ul class="dropdown-menu">
                        <li><button type="button" onclick="document.getElementById('dropdown').value = 1; document.getElementById('active-category').textContent = 'Diseño disponible'">Diseño disponible</button></li>
                        <li><button type="button" onclick="document.getElementById('dropdown').value = 2; document.getElementById('active-category').textContent = 'Diseño previo'">Diseño previo</button></li>
                        <li><button type="button" onclick="document.getElementById('dropdown').value = 3; document.getElementById('active-category').textContent = 'Tatuaje recién hecho'">Tatuaje recién hecho</button></li>
                        <li><button type="button" onclick="document.getElementById('dropdown').value = 4; document.getElementById('active-category').textContent = 'Tatuaje curado'">Tatuaje curado</button></li>
                    </ul>
                </div>
                <select value="1" name="type" id="dropdown" hidden>
                    <option value="1">Diseño disponible</option>
                    <option value="1">Diseño previo</option>
                    <option value="2">Tatuaje recién hecho</option>
                    <option value="3">Tatuaje curado</option>
                </select>
            </div>
            <div class="imgAndUploadWrapper">
                <input id="uploadInput" class="uploadInput" type="file" name="image" accept=".jpg,.jpeg,.png,.webp,.gif,.heic,.avif" required hidden>
                <div id="uploadLabel" class="uploadLabel">
                    
                        <div id="loader" class="loader"></div>
                        <div id="uploadData" class="uploadData">
                            <img class="uploadIcon" th:src="@{/icons/Upload_Icon.png}">
                            <p>Arrastrar aquí, o <label for="uploadInput">explorar archivos.</label></p>
                        </div>
                    
                </div>
                <div class="send-wrapper">
                    <div class="editOptions">
                        <button type="button" onclick="clearImage()" class="clearButton"><img th:src="@{/icons/trash.svg}">Borrar</button>
                        <button class="uploadButton" type="submit"><img th:src="@{/icons/send.svg}">Publicar</button>
                    </div>
                </div>
            </div>
        </form>

       <script th:src="@{/js/publication-scripts/api.js}"></script>

        <script th:src="@{/js/publication-scripts/pop-up-message.js}"></script>
        <script th:src="@{/js/publication-scripts/dragndropmenu.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/heic2any@0.0.3/dist/heic2any.min.js"></script>
        <script th:src="@{/js/publication-scripts/autoResizeTextarea.js}"></script>
        <script th:src="@{/js/publication-scripts/galleryLoading.js}"></script>

        
    </main>
</body>
</html>

