<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title>Inicio | Tattoos</title>
    <link rel="stylesheet" th:href="@{/css/publications.css}">
    <link rel="stylesheet" th:href="@{/css/card.css}">
    <link rel="stylesheet" th:href="@{/css/buttons.css}">
    <link rel="stylesheet" th:href="@{/css/gallery.css}">
</head>
<body>
    <main layout:fragment="content">
        <h1>Publicaciones</h1>

        <div class="list-wrapper">
            <button class="scroll-btn left hidden" onclick="scrollCards(-1)"></button>
            <ul id="-list" class="list">
                <ul id="-loading-skeleton" class="loading-skeleton">
                    <li><div class="placeholder-card shimmer"><h3></h3></div></li>
                    <li><div class="placeholder-card shimmer"><h3></h3></div></li>
                    <li><div class="placeholder-card shimmer"><h3></h3></div></li>
                    <li><div class="placeholder-card shimmer"><h3></h3></div></li>
                    <li><div class="placeholder-card shimmer"><h3></h3></div></li>
                    <li><div class="placeholder-card shimmer"><h3></h3></div></li>
                </ul>
            </ul>
            <button class="scroll-btn right hidden" onclick="scrollCards(1)"></button>
        </div>
        
        <form class="uploadForm" th:action="@{/subirpublicacion}" method="post" enctype="multipart/form-data">
            <div class="texts">
                <h2>Publicar nuevo tatuaje</h2>

                <label for="title">Título</label>
                <input name="title" id="title" type="text">

                <label for="description">Descripción</label>
                <textarea name="description" oninput="autoResize(this)" id="description" rows="1"></textarea>

                <label for="dropdown">Categoría</label>
                <select name="type" id="dropdown" class="custom-dropdown">
                    <option value="1">Diseño</option>
                    <option value="2">Tatuaje</option>
                    <option value="3">Tatuaje Curado</option>
                </select>
            </div>
            <div class="imgAndUploadWrapper">
                <input id="uploadInput" class="uploadInput" type="file" name="image" accept=".jpg,.jpeg,.png,.webp,.gif,.heic,.avif" required hidden>
                <div id="uploadLabel" class="uploadLabel">
                    
                        <div id="loader" class="loader"></div>
                        <div id="uploadData" class="uploadData">
                            <img class="uploadIcon" th:src="@{/icons/Upload_Icon.png}">
                            <p>Arrastrar aquí, o <label for="uploadInput">explorar archivos.</label></p>
                        </div>
                    
                </div>
                <div class="send-wrapper">
                    <div class="editOptions">
                        <button type="button" onclick="clearImage()" class="clearButton">Borrar</button>
                        <button class="uploadButton" type="submit">Publicar</button>
                    </div>
                </div>
            </div>
        </form>


        <script th:src="@{/js/dragndropmenu.js}"></script>
        <script src="https://cdn.jsdelivr.net/npm/heic2any@0.0.3/dist/heic2any.min.js"></script>
        <script th:src="@{/js/buttonScroll.js}"></script>
        <script th:src="@{/js/autoResizeTextarea.js}"></script>
        <script th:src="@{/js/galleryLoading.js}"></script>

        
    </main>
</body>
</html>

