.editOptions button {
    font-weight: 200;
    letter-spacing: 0.8px;
    padding: calc(13rem/16) calc(20rem/16) calc(13rem/16);
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    z-index:1;
    min-width: 7rem;
}
  
.editOptions button:first-child:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
    background-color: #FB130D;
    left: -12px;
    top: -12px;
}
  
.editOptions button:last-child:after {
    content: "";
    position: absolute;
    right: -12px;
    top: 12px;
    width: 100%;
    height: 100%;
    background-color: #E2A9AF;
    z-index: -1;
    opacity: 0;
    transition: 0.3s;
}
  
.editOptions button:last-child:hover:after {
    top: 0px;
    right: 0px;
    opacity: 1;
}

.editOptions button:first-child:hover:after {
    top: 0px;
    left: 0px;
    opacity: 1;
}

.editOptions{
    display: flex;
    justify-content: end;
    gap: 1rem;
}