.editOptions button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


    font-weight: 200;
    font-size: 0.8rem;
    letter-spacing: 0.8px;
    padding: 0.5rem 0rem;
    outline: transparent;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    border-radius: 2rem;
    background-color: white;
    color: black;
    z-index:1;
    width: 50%;
    font-family: inherit;
    overflow: hidden;
}
.editOptions button:hover {
    background-color: rgba(200, 200, 200, 1);
}

.editOptions{
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.editOptions button img{
    width: 1.2rem;
    height: 1.2rem;
    padding-right: 0.5rem;
}

.editOptions button:nth-child(2) img{
    float: right;
}

.editOptions button:hover img{
    animation: bounce 0.3s ease-in-out;
}


@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-0.2rem); }
    100% { transform: translateY(0); }
}