:root{
    --card-height: 15rem;
}

.card{
    position: relative;
    aspect-ratio: calc(3/4);
    height: var(--card-height);
    overflow:hidden;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter:blur(5px);
    border: 1px solid white;
}

.card:hover{
    cursor: pointer;
}

.card::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: gray;
    color: gray;
    transition: 1s;
}

.card:hover:after{
    opacity: 0.5;
}


.card img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.textcontainer{
    position: absolute;
    bottom: 0;
    left: 1rem;

    height: fit-content;
    width: calc(100% - 1rem);

    display: block;
    text-align:left;
    transition: 1s;
    z-index: 2;
}

.textcontainer h3{
    color: white;
    overflow-wrap: break-word;
    transform: translateY(0%);
    padding-bottom: 1rem;
    transition: 1s;
}

.textcontainer p{
    position: absolute;
    top: 100%;
    left: 0;
    background: -webkit-linear-gradient(black 0%, rgba(0,0,0,0.15) 100%);
    -webkit-background-clip: text;
    height: calc(var(--card-height) - 100% - 1.8rem);
    transition: 1s;
}

.card:hover .textcontainer{
    bottom: 100%;
}

.card:hover .textcontainer h3{
    transform: translateY(calc(100% + 1.3rem));
}

.card:hover .textcontainer p{
    top: 200%;
}


.transparent-card{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border: 1px solid white;
    border-radius: 2rem;
    position: relative;
    aspect-ratio: calc(3/4);
    height: var(--card-height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.plus-sign {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    border-radius: 50%;
    width: 4.5rem;
    aspect-ratio: 1;
    background-color: rgba(255, 255, 255, 0.3);
}

.plus-sign::before, .plus-sign::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 15%;
    border-radius: 2rem;
    background: rgba(0,0,0,0.1);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus-sign::before{
    background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 37.5%,
    rgba(0, 0, 0, 0) 37.5%,
    rgba(0, 0, 0, 0) 62.5%,
    rgba(0, 0, 0, 0.1) 62.5%,
    rgba(0, 0, 0, 0.1) 100%
);
    transform: translate(-50%, -50%) rotate(90deg);
}

.placeholder-card{
    display: block;
    position: relative;
    height: calc(var(--card-height) + 2px);
    width: calc(var(--card-height) * 3/4 + 2px);
    background-color: #202020;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
}

.placeholder-card h3{
    position: absolute;

    left: 1rem;
    bottom: 1rem;
    border-radius: 1.2rem;
    width: calc(100% - 2rem);
    height: 1.2rem;
    background-color: rgba(42, 42, 42, 1);
}

.shimmer {
    position: relative;
    overflow: hidden;
}

.shimmer::after {
    content: "";
    position: absolute;
    top: -25%;
    left: -150px;
    width: 150px;
    height: 150%;
    background: linear-gradient(90deg, 
                transparent 0%, 
                rgba(255, 255, 255, 0.1) 50%, 
                transparent 100%);
    transform: rotate(20deg);
    animation: shimmer 1.5s infinite;
    z-index: 3;
}

@keyframes shimmer {
    0% {
        left: -150px;
    }
    100% {
        left: 100%;
    }
}

.card:hover .dot-menu{
    display: flex;
}

.dot-menu{
    appearance: none;
    position: absolute;
    top:0.2rem;
    right: 0.1rem;
    display: none;
    flex-direction: column;
    align-items: center;
    word-break: break-word;
    width: 1rem;
    aspect-ratio: 1;
    justify-content: center;
    background-color: transparent;
    outline: transparent;
    border: none;
    user-select: none;
    line-height: 0.5rem;
    padding-inline: 1rem;
    padding-top: 0.1rem;
    border-radius: 50%;
    z-index: 3;
    cursor: pointer;
}

.dot-menu::before{
    content: "•••";
    position: relative;
}

.dot-menu:checked::before{
    content: "✕";
}

.dot-menu:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

.dot-drop-down{
    position: absolute;
    top: 3rem;
    right: 0;;
    display: none;
    flex-direction: column;
    color: white;
    z-index: 4;
    width: 75%;
}

.dot-drop-down ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.dot-drop-down li button{
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 1rem;
    width: 100%;
    cursor: pointer;
}

.dot-drop-down li button:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.card:hover:has(.dot-menu:checked) .dot-drop-down{
    display: flex;
}

.dot-drop-down button{
    outline: none;
    background-color: transparent;
    border: none;
    color: white;
    font-family: inherit;;
}