.list {
    position: relative;
    display: flex;
    list-style-type: none;
    gap: 1rem;
    justify-content: flex-start;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /*Mobile*/
    touch-action: pan-x; /*Mobile*/
    scrollbar-width: none; /*Firefox*/
    user-select: none;
    height: 16rem;
}

.loading-skeleton{
    position: absolute;
    left: 0;
    top: 0;

    opacity: 1;
    display: flex;
    list-style-type: none;
    gap: 1rem;
    justify-content: flex-start;
    overflow: hidden;
    user-select: none;
    height: 16rem;
    transition: 1s;
    z-index: 3;
}

.list::-webkit-scrollbar {
    display: none; /*Chrome, Safari*/
  }

.list li{
    height: fit-content;
}

.list-wrapper{
    position: relative;
}

.scroll-btn {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 1.5rem;
    padding: 2.5rem 0.5rem;
    cursor: pointer;
    z-index: 10;
    transition: opacity 0.3s;
    translate: 0 -50%;
}
  
.scroll-btn.left {
    left: 0.5rem;
}

.scroll-btn.right {
    right: 0.5rem;
}

.scroll-btn.right::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.6rem;
  height: 0.6rem;
  border: solid white;
  border-width: 0 0.2rem 0.2rem 0;
  display: inline-block;
  transform: translate(-72%, -50%) rotate(-45deg);
}


.scroll-btn.left::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.6rem;
    height: 0.6rem;
    border: solid white;
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    transform: translate(-28%, -50%) rotate(135deg);
}
  
.scroll-btn.hidden {
    opacity: 0;
    pointer-events: none;
}