.list {
    position: relative;
    display: flex;
    list-style-type: none;
    gap: 1rem;
    justify-content: flex-start;
    flex-wrap: wrap;
    user-select: none;
    height: 16rem;
}

.list-wrapper{
    position: relative;
}