:root{
    --img-height: 18rem;
}

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.uploadForm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    min-height: 80%;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to right,#131314, #343a40);
    border-radius: 20px;
    color: aliceblue;
    padding: 1rem;
    height: fit-content;
    z-index: 2;
}

.darkBackground{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}

.imgAndUploadWrapper{
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
}

.uploadLabel{
    position: relative;
    display: flex;
    height: var(--img-height);
    aspect-ratio: calc(3/4);
    padding: 0.18rem;
    text-align: center;
    border-radius: 20px;
    border: 2.5px dashed white;
    background: #131314;
    background-size: cover;
    color: white;
    margin-left: auto;
    margin-top: 8%;
    align-items: center;
    justify-content: center;
}

.uploadIcon{
    width: 4rem;
}

.uploadLabel label{
    text-decoration:underline;
    color: #0077b6;
}

.uploadLabel label:hover{
    cursor: pointer;
}

main{
    width: 80%;
    margin: 0% 10%;
}


.texts{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    flex: 1 1 300px;
    padding-right: 5rem;
}

.texts > label{
    display: block;
    margin-bottom: 5px;
}



.texts > input, select{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 1rem;
    width: fit-content;
    border-bottom: 1px solid white;
    margin-bottom: 1rem;
    color: white;
    letter-spacing: normal;
}

.texts > input{
    padding-bottom: 0.3rem;
}

.texts > input:focus, textarea:focus, select:focus{
    outline: transparent;
}

.texts > textarea{
    font-family: inherit !important;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    resize: none;
    height: auto;
    min-height: 6rem;
    background-color: rgb(28,28,30);;
    border: none;
    color: white;
}

.loader{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border: 3px solid white;
    border-top: 3px solid black;
    border-radius: 50%;
    padding: 1rem;
    z-index: 2;
    animation: rotate 1s infinite;
}

@keyframes rotate {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}

.dropdown-button{
    display: flex;
    width: 30%;
    height: 2rem;
    background-color:#343a40;
    justify-content: center;
    align-items: center;
    user-select: none;
}

.dropdown-wrapper:has(:checked) .dropdown-menu{
    display: flex;
    flex-direction: column;
}

.dropdown-menu{
    display: none;
    list-style: none;
}

.dropdown-menu button{
    width: 30%;
    height: 2rem;
    background-color:#343a40;
    outline: transparent;
    border: none;
    color: white;
}